/* Material Icons - All Variants */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons.woff2) format('woff2'),
       url(../fonts/material-icons.woff) format('woff');
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons-outlined.woff2) format('woff2'),
       url(../fonts/material-icons-outlined.woff) format('woff');
}

@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons-round.woff2) format('woff2'),
       url(../fonts/material-icons-round.woff) format('woff');
}

@font-face {
  font-family: 'Material Icons Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons-sharp.woff2) format('woff2'),
       url(../fonts/material-icons-sharp.woff) format('woff');
}

@font-face {
  font-family: 'Material Icons Two Tone';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons-two-tone.woff2) format('woff2'),
       url(../fonts/material-icons-two-tone.woff) format('woff');
}

/* Base icon styles */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
}
.material-icons-round {
  font-family: 'Material Icons Round';
}
.material-icons-sharp {
  font-family: 'Material Icons Sharp';
}
.material-icons-two-tone {
  font-family: 'Material Icons Two Tone';
}